.add-station {
  overflow: hidden;
  display: flex;
  height: 100%;
  padding-left: 1rem;
  .wrapper-left {
    margin-right: 1rem;
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    .search-area {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
    }
    .info {
      margin-top: 2rem;
    }
  }
  .map-container {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .add-station {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    .wrapper-left {
      width: 100%;
    }
    .map-container {
      height: 100vh;
      flex: auto;
      margin-top: 1rem;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
